input:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: #bdbd00;
}
div:focus{
    outline-style: solid;
    outline-width: 1px;
    outline-color: #bdbd00;
}
html{
    background: #000;
}